#top {
    margin: 93px 202px 81px 202px;
    display: flex;
    justify-content: space-between;
}

#text-top {
    margin-right: 37px;
}

#text-top > h1 {
    font-size: 3.43em;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF4081;
}

#text-top > p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

#image-top {
    width: 380px;
}

.aulas-individuais {
    margin: 75px 213px 75px 213px;
    display: flex;
    justify-content: space-between;
}

.video-aula {
    margin-right: 76px;
}

.video-aula > p {
    width: 462px;
    height: 261px;
    background-color: grey;
    text-align: center;
    line-height: 261px;
    font-weight: bold;
}

.texto-aula > h2 {
    font-size: 2.19em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 26px;
    color: #FF4081;
}

.texto-aula > p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.border {
    margin: 0px 98px;
    height: 3px;
    background-color: #C4C4C4;
}