#top {
    margin: 48px 210px 89px 210px;
    display: flex;
}

#top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

#top-text > h1 {
    font-size: 2.93em;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #009688;   
}

#top-text > p {
    
    font-size: 1.25em;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

#top-image {
    width: 405px;
}

.artigos-individuais {
    margin: 109px 140px 170px 140px;
    display: flex;
}

.artigo-imagem {
    width: 518;
    height: 259;
    background-color: grey;
}

.artigo-imagem > p {
    width: 462px;
    height: 261px;
    background-color: grey;
    text-align: center;
    line-height: 261px;
    font-weight: bold;
}