

#title {
    margin-top: 81px;
    margin-left: 82px;
    
}

#title > h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #FF4081;
}

#title > p {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;
}



.cursos-individuais {
    display: flex;
    margin: 107px 82px 0px 82px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-bottom: solid 5px #C4C4C4;;
}

.cursos-individuais:last-child {
    border: none;
    margin-bottom: 202px;
}

.curso-imagem > img {
    width: 380px;
    margin-bottom: 68px;
    margin-left: 30px;
}

.curso-in {
    margin-left: 53px;
}

.curso-in > h2 {
    font-size: 2.19em;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF4081;
    margin-bottom: 37px;
}

.curso-in > p {
    font-size: 1.12em;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 66px;
}

.curso-button {
    width: 216px;
    border: none;
    background: #419488;
    padding: 13px 9px;
    border-radius: 62px;
}

.curso-button > a {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;  
}