#banner-section {
    display: flex;
    justify-content: space-around;
    margin: 125px 206px 66px 206px;
}

#banner-link > h1 {
    font-weight: bold;
    font-size: 3.75em;
    line-height: 69px;
    color: #FF4081;
    width: 488px;
    margin-bottom: 31px;
}

#banner-link > p {
    font-weight: normal;
    font-size: 1.69em;
    color: #555555;
    line-height: 31.02px;
    width: 462px;
    margin: 0px 64px 46px 0px;
    
}

#banner-link > p > a {
    text-decoration: none;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 8.5px 26px;
}

#banner-image > img {
    width: 501px;
}

#start-now {
    display: flex;
    margin: 109px 128px 0px 128px;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 730px;
}

.start {
    width: 344px;
    
    
}

.start-image {
    height: 270px;
    margin-bottom: 45px;
    align-self: center;
    
}

.start > h3 {
    font-weight: bold;
    font-size: 1.56em;
    color: #FF4081;
    padding-bottom: 23px;
    width: inherit;

}

.start-text {
    line-height: 19.53px;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 41px;
    padding: 0px 33px;
}

.start-button {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: normal;
    background-color: #FF4081;
    color: white;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 8.5px 26px;
}

#speak-about-us {
    margin: 0px 128px 155px 128px;
}

#speak-about-us > h2 {
    font-size: 2.31em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #009688;
    padding: 7px 0px;
    margin-bottom: 78px;
}

.humans {
    display: flex;
    flex-wrap: wrap;
}

.humans-icon-upper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* height: 104px; */
    margin-bottom: 86px;
}

.humans-icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* height: 104px; */
    
}

.humans-icon > img {
    height: 104px;
    width: 104px;
    margin-right: 28px;
    
}

.human-text-name {
    height: 104px;
    padding-right: 54px;
}

.human-testemonial {
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.12em;
    line-height: 24.55px;
    text-align: left;
}

.human-name {
    font-size: 1.12em;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0em; 
    text-align: left;
}

#more {
    padding: 91px 128px 53px 128px;
}

#more > h2 {
    font-size: 2.31em;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #009688;
    text-transform: uppercase;
}

#more-conteudo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 73px;
}


.more-image {
    height: 193px;
    width: 319px;
    background-color: #C4C4C4;
    text-align: center;
    line-height: 193px;
}

.more-conteudo-dividido {
    width: 319px;
}

.more-conteudo-dividido > h3 {
    font-size: 1.69em;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #009688;
}

.more-paragrafo {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

#link-final-more {
    margin-top: 101px;
    align-content: center;
    align-items: center;
    text-align: center;
}

#link-final {
    text-decoration: none;
    font-size: 1.56em;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 8.5px 26px;
}